# Election Participate - Validator Mode
#*/5 * * * * /bin/bash && export PATH=$PATH:$HOME/ton-scripts/scripts && cd $HOME/ton-scripts/scripts && operator-stake.sh

# Replenish Validator Balance - Nominator Mode
#*/5 * * * * /bin/bash && export PATH=$PATH:$HOME/ton-scripts/scripts && cd $HOME/ton-scripts/scripts && replenish-validator-balance.sh

# Telegram Alarm
#*/10 * * * * /bin/bash && export PATH=$PATH:$HOME/ton-scripts/scripts && cd $HOME/ton-scripts/scripts && tg-index.sh
